:root{
    font-family: 'Roboto', sans-serif;
}
*{
 margin: 0;
padding: 0;
box-sizing: border-box;
}
.div-navBar{

    min-height: 60px;

}
nav
{
    min-width: 100vh;
    min-height: 60;
    background-color: pink;
    display: flex;
   

}
  ul{
    background-color: rgb(168, 118, 118);
    min-width: 100%;
    display:flex;
    flex-direction: row;
    justify-items: space-evenly;
    justify-content: space-evenly;
    align-items:  center;
    list-style: none ;
}